@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }
  main {
    height: calc(100vh - 70px);
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: gray;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    @apply w-2;
  }

  *::-webkit-scrollbar-track {
    @apply bg-gray-800;
    @apply rounded;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-gray-500;
    @apply border-gray-600 border;
  }
}

@layer components {
  header {
    @apply bg-green-300 py-4 drop-shadow;
  }

  nav {
    @apply container flex justify-between mx-auto px-4 md:px-0;
  }

  input,
  textarea {
    @apply block w-full p-3 text-sm text-gray-900 border rounded-md bg-white transition-all outline-none;
    @apply focus:ring-offset-0 focus:ring;
  }

  form {
    @apply gap-7 grid;
  }
}
